<div class="">
  <div class="card shadow-sm p-4 mb-4">
    <div class="card-header">
      <h2><%= @task.new_record? ? 'Crear Tarea' : 'Editar Tarea' %></h2>
    </div>
    <%= form_for(@task) do |f| %>
      <div class="card-body">
        <div class="mb-3 row">
          <label for="task_title" class="col-sm-3 col-form-label">Título</label>
          <div class="col-sm-9">
            <%= @task.new_record? ? f.text_field(:title, class: "form-control", required: true) : content_tag(:b, @task.title, class:"col-form-label") %>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="task_description" class="col-sm-3 col-form-label">Descripción</label>
          <div class="col-sm-9">
            <%= f.text_area :description, class: "form-control", required: true %>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="task_status" class="col-sm-3 col-form-label">Estado</label>
          <div class="col-sm-9">
            <%= f.select :status, Task.statuses.map { |key, value| [value, key] }, {}, class: "form-select" %>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="task_priority" class="col-sm-3 col-form-label">Prioridad</label>
          <div class="col-sm-9">
            <%= f.select :priority, Task.priorities.map { |key, value| [value, key] }, {}, class: "form-select" %>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="task_end_date" class="col-sm-3 col-form-label">Usuarios</label>
          <div class="col-sm-9">
            <%= f.select :assigned_user_id, @users.map {|user| [user.name, user.id]}, {include_blank:'Asignar a usuario'}, class: "form-select mb-2" %>
          </div>
        </div>
      </div>

      </div>
      <div class="card-footer text-center">
        <%= f.submit @task.new_record? ? 'Crear Tarea' : 'Editar Tarea', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
