<div class="container">
  <div class="card shadow-sm p-4 mb-4">
    <div class="card-header">
      <h2><%= @task.new_record? ? 'Crear Tarea' : 'Editar Tarea' %></h2>
    </div>
    <%= form_for(@task) do |f| %>
      <div class="card-body">
        <div class="mb-3 row">
          <label for="task_name" class="col-sm-3 col-form-label">Nombre</label>
          <div class="col-sm-9">
            <%= f.text_field :name, class: "form-control", required: true %>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="task_description" class="col-sm-3 col-form-label">Descripción</label>
          <div class="col-sm-9">
            <%= f.text_area :description, class: "form-control", required: true %>
          </div>
          
        </div>

        <div class="mb-3 row">
          <label for="task_end_date" class="col-sm-3 col-form-label">Usuarios</label>
          <div class="col-sm-9">
            <%= render "user_roles_fields", form: f %>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="task_end_date" class="col-sm-3 col-form-label">Fecha de Finalización</label>
          <div class="col-sm-9">
            <em>Fecha opcional</em>
            <%= f.date_field :end_date, class: "form-control" %>
          </div>
        </div>

      </div>
      <div class="card-footer text-center">
        <%= f.submit @task.new_record? ? 'Crear Tarea' : 'Editar Tarea', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
