<%= form.fields_for :user_subroles, UserSubrole.new do |user_subrol_form| %>
  <div class="user-subrole">
    <div class="row mb-3">
      <div class="col">
        <%= user_subrol_form.select :user_id, User.all.map {|u| [u.nombre, u.id.to_i]}, {include_blank:'Select Usuarios'}, class: "form-select" %>
      </div>
      <div class="col">
        <%= user_subrol_form.select :subrol_id, Subrol.all.map {|s| [s.name, s.id.to_i]}, {include_blank:'Select Subrol'}, class: "form-select" %>
      </div>
      <div class="col">
        <%= link_to "Eliminar", '#', class: "btn btn-danger btn-remove-subrole" %>
      </div>
    </div>
  </div>
<% end %>
<div class="text-center">
  <%= link_to "Agregar Usuario y Subrol", '#', class: "btn btn-primary btn-add-subrole" %>
</div>

