<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h2 class="mb-0">Tarea</h2>
      <div class="d-flex justify-content-end">
        <%= link_to "Editar", edit_task_path(@task), class:"btn btn-sm btn-primary me-2" %>
        <% if @task.no_iniciada? %>
          <%= button_to("Iniciar", iniciar_finalizar_task_path(@task), class: "btn btn-sm btn-success") %>
        <% elsif @task.en_curso? %>
          <%= button_to("Finalizar", iniciar_finalizar_task_path(@task), class: "btn btn-sm btn-danger") %>
        <% end %>
      </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-9">
          <dl class="row">
            <dt class="col-sm-3">Nombre:</dt>
            <dd class="col-sm-9"><%= @task.title %></dd>

            <dt class="col-sm-3">Descripción:</dt>
            <dd class="col-sm-9"><%= auto_link_text(simple_format(@task.description)) %></dd>

            <dt class="col-sm-3">Creador:</dt>
            <dd class="col-sm-9"><%= @task.assigned_user&.name || "Sin usuario asignado"%></dd>

            <dt class="col-sm-3">Prioridad:</dt>
            <dd class="col-sm-9"><%= Task.priorities[@task.priority] %></dd>

            <% if @task.no_iniciada? %>
              <dt class="col-sm-3">Estado:</dt>
              <dd class="col-sm-9"><%= Task.statuses[@task.status] %></dd>
            <% elsif @task.en_curso? %>
              <dt class="col-sm-3">Estado:</dt>
              <dd class="col-sm-9"><%= Task.statuses[@task.status] %></dd>

              <dt class="col-sm-3">Fecha de inicio:</dt>
              <dd class="col-sm-9"><%= @task.start_date.strftime("%d/%m/%Y %H:%M") %></dd>
            <% else %>
              <dt class="col-sm-3">Estado:</dt>
              <dd class="col-sm-9"><%= Task.statuses[@task.status] %></dd>

              <dt class="col-sm-3">Rango de tiempo:</dt>
              <dd class="col-sm-9"><%= "#{@task.start_date.strftime("%d/%m/%Y %H:%M")} - #{@task.end_date.strftime("%d/%m/%Y %H:%M")}"%></dd>
            <% end %>

            <dt class="col-sm-3">Creado:</dt>
            <dd class="col-sm-9"><%= @task.created_at.strftime("%d/%m/%Y %H:%M") %></dd>

            <dt class="col-sm-3">Actualizado:</dt>
            <dd class="col-sm-9"><%= @task.updated_at.strftime("%d/%m/%Y %H:%M") %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <%= render partial: 'comments/form', locals: { task: @task, comment: @comment } %>
    <%= @comments.present? ? content_tag(:h3, "Últimos comentarios", class: "mb-0") : content_tag(:h3, "Aún no hay comentarios", class: "mb-0") %>
    <br>
    <% @comments.each do |comment| %>
      <%= render partial: 'comments/comment', locals: { comment: comment } %>
    <% end %>
    <%= paginate @comments %>
  </div>
</div>
