<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h2 class="mb-0">Tarea</h2>
      <a href="<%= edit_task_path(@task) %>" class="btn btn-sm btn-primary">Editar Tarea</a>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-9">
          <dl class="row">
            <dt class="col-sm-3">Nombre:</dt>
            <dd class="col-sm-9"><%= @task.name %></dd>

            <dt class="col-sm-3">Descripción:</dt>
            <dd class="col-sm-9"><%= @task.description %></dd>

            <dt class="col-sm-3">Creador:</dt>
            <dd class="col-sm-9"><%= @task.assigned_user_id || "Sin usuario asignado"%></dd>

            <dt class="col-sm-3">Estado:</dt>
            <dd class="col-sm-9"><%= Task.statuses[@task.status] %></dd>

            <dt class="col-sm-3">Fecha de inicio:</dt>
            <dd class="col-sm-9"><%= "No iniciado" %></dd>

            <dt class="col-sm-3">Creado:</dt>
            <dd class="col-sm-9"><%= @task.created_at.strftime("%d/%m/%Y %H:%M") %></dd>

            <dt class="col-sm-3">Actualizado:</dt>
            <dd class="col-sm-9"><%= @task.updated_at.strftime("%d/%m/%Y %H:%M") %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
