<div class="">
  <div class="card shadow-sm p-4 mb-4">
    <div class="card-header">
      <h2><%= @user.new_record? ? 'Crear Usuario' : 'Editar Usuario' %></h2>
    </div>
    <%= form_for(@user) do |f| %>
      <div class="card-body">
        <div class="mb-3 row">
          <label for="user_name" class="col-sm-3 col-form-label">Nombre</label>
          <div class="col-sm-9">
            <%= f.text_field :name, class: "form-control", required: true %>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="user_email" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <%= f.email_field :email, class: "form-control", required: true %>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="user_username" class="col-sm-3 col-form-label">Username</label>
          <div class="col-sm-9">
            <%= f.text_field :username, class: "form-control", required: true %>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="user_password" class="col-sm-3 col-form-label">Password</label>
          <div class="col-sm-9">
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
            <% end %>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="user_password_confirmation" class="col-sm-3 col-form-label">Confirm Password</label>
          <div class="col-sm-9">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="user_roles" class="col-sm-3 col-form-label">Rol de usuario</label>
          <div class="col-sm-9">
            <%= render "roles_checkbox", f: f %>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <%= f.submit @user.new_record? ? 'Crear Usuario' : 'Editar Usuario', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
