<div class="container">
  <div class="card shadow-sm p-4 mb-4">
    <div class="card-header">
      <h2><%= @project.new_record? ? 'Crear Proyecto' : 'Editar Proyecto' %></h2>
    </div>
    <%= form_for(@project) do |f| %>
      <div class="card-body">
        <div class="mb-3 row">
          <label for="project_name" class="col-sm-3 col-form-label">Nombre</label>
          <div class="col-sm-9">
            <%= f.text_field :name, class: "form-control", required: true %>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="project_description" class="col-sm-3 col-form-label">Descripción</label>
          <div class="col-sm-9">
            <%= f.text_area :description, class: "form-control", required: true %>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="project_start_date" class="col-sm-3 col-form-label">Fecha de Inicio</label>
          <div class="col-sm-9">
            <em>Fecha opcional</em>
            <%= f.date_field :start_date, class: "form-control" %>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="project_end_date" class="col-sm-3 col-form-label">Fecha de Finalización</label>
          <div class="col-sm-9">
            <em>Fecha opcional</em>
            <%= f.date_field :end_date, class: "form-control" %>
          </div>
        </div>

       <div class="mb-3 row">
          <label for="project_status" class="col-sm-3 col-form-label">Estado</label>
          <div class="col-sm-9">
            <%= f.select :status, Project.statuses.map { |key, value| [value, key] }, {}, class: "form-select" %>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <%= f.submit @project.new_record? ? 'Crear Proyecto' : 'Editar Proyecto', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
