<!DOCTYPE html>
<html lang="es">
  <head>
    <title>TaskApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>

  <body>
    <%= render 'layouts/navbar_offcanva' %>
    <div class="container">
      <div class="mt-4">
        <div class="d-flex align-items-center justify-content-center">
          <% if notice.present? %>
            <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
              <%= notice %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% elsif alert.present? %>
            <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
              <%= alert %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
